html {
    width: auto;
    background-image: url(../images/back.jpg);
    background-size: auto;
    background-position: top;
    background-repeat: repeat;
    text-align: center;
    font-size: medium;
}

body {
    width: auto;

}

ul {
    width: auto;
    background: #228b2298;
    padding: 20px;
    margin: 15px 0px;
}

li {
    display: inline;
    font-size: 25px;
    margin-inline-start: 5%;
    color: aqua;

}

.navigation a {
    text-decoration: none;
}
.conteiner {
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: block;
    outline: 0px solid rebeccapurple;
    padding: 0px 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}


.blok {
    display: flex;
    flex-wrap: wrap;
    background-color: #7f553956;
}

.person {
    width: 100%;
    display: flex;
    margin-top: 30px;
    outline: 0px solid red;
}

.inf {
    width: calc(100% - 20px);
    background-image: url(../images/IMG_0205.jpg);
    background-size: cover;
    margin: 25px 40px 25px 20px;
    max-height: 300px;
    border-radius: 1%;

}

.inf h5 {
    text-align: right;
    margin: 50px 60px 10px auto;
    padding-bottom: 10px;
}

.inf h1 {
    padding-top: 10px;
}

.photo img {
    padding: 16px;
    width: auto;
    max-width: 400px;
    margin: 20px auto 20px 40px;
    max-height: 300px;
    vertical-align: middle;
    border-radius: 10%;

}

@media screen and (max-width: 950px) {
    .person {
        display: inline-block;
        margin-top: 20px;
        margin-left: 5px;
    }

    .inf {
        margin: 10px;

    }

    .photo img {
        width: 300px;
    }
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: rgb(250, 166, 10);
}

.row-statistic {
    display: block;
    width: auto;
  }

.side {
    float: left;
    width: 20%;
    margin: 5px 0px 15px 0px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 50%;

}

.right {
    text-align: right;
    width: 20%;
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.bar-5 {
    width: 50%;
    height: 18px;
    background-color: #7f5539;
}

.bar-4 {
    width: 30%;
    height: 18px;
    background-color: #b08968;
}

.bar-3 {
    width: 10%;
    height: 18px;
    background-color: #ddb892;
}

.bar-2 {
    width: 4%;
    height: 18px;
    background-color: #e6ccb2;
}

.bar-1 {
    width: 15%;
    height: 18px;
    background-color: #ede0d4;
}

@media (max-width: 804px) {

    .side,
    .middle {
        width: 100%;
    }

    .right {
        display: none;
    }
}

.tablink {
    background-color: #228b229f;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

.tablink:hover {
    background-color: #32cd32b1;
}

.tabcontent {
    color: rgb(10, 0, 0);
    display: none;
    padding: 11px 20px;
    height: 100%;
    width: 100%;
}

.pages {
    width: 1200px;
}

.timeline {
     position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.rights {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.rights::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.rights::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .rights::after {
        left: 15px;
    }

    .rights {
        left:0%;
    }
}

* {
    box-sizing: border-box;
}

.row-post {
    margin: 1px;
    padding: 1px;
    text-align: right;
    outline: px solid yellow;
}



hr.top-line-post {
    border-top: 5px solid #7f5539;

}

.row-post h3 {
    color: #6c4831;
    text-align: center;
    padding: 5px;
}

.tm-post a {
    text-decoration: none;
    text-align: center;

}

.tm-post {
    width: auto;
    display: flex;
}

.text-post {
    outline: px solid white;
    margin: 2px;
    width: 900px;
}

.article-previwe img {
    padding: 2px;
    width: auto;
    max-width: 200px;
    margin: 10px;
    max-height: 300px;
    vertical-align: middle;
    border-radius: 10%;
}

.info-post span {
    margin: 10px auto;
    padding: 5px 15px;
    color: #6c4831;
}

.pg-button-blok {
    flex: content;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: black;
    width: auto;
    padding: 2px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.navbar a.active {
    background-color: #6c4831;
    color: white;
}

.navbar a:hover:not(.active) {
    background-color: #ddd;
}

.menu {
    line-height: 25px;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #4CAF50;
}

.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #4CAF50;
}
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #24b429;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #4CAF50;
}

