html {
  width: auto;
  background-image: url(../images/back.jpg);
  background-size: auto;
  background-position: top;
  background-repeat: repeat;
  text-align: center;
  font-size: medium;
}

body {
width: auto;
  margin: 0px;
}

.navigation a {
  text-decoration: none;
}

ul {
  width: auto;
  background: #228b2298;
  padding: 20px;
  margin: 15px 0px;
}

li {
  display: inline;
  font-size: 25px;
  margin-inline-start: 5%;
  color: aqua;
}

.conteiners {
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: block;
    outline: 0px solid rebeccapurple;
    padding: 0px 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.fm-pages {
  max-width: 1200px;
  height: auto;
  font: inherit;
  font-size: 100%;
  margin: auto;
}
.blog-header {
  height: auto;
  overflow: hidden;
  line-height: 30px;
  text-transform: initial;
  margin-bottom: 8px;
 width: auto;

}
.blog-name {
  float: left;
  font-size: 25px;
  font-weight: 700;
  width: 100%;
  line-height: 3;
}
.blog-date {
  float: right;
  width: 100%;
  color: rgb(0, 202, 0);
  font-size: 25px;
  font-weight: 400;
  text-align: right;
  line-height: 2;
}
.blog-rating {
  float: right;
 width: 100%;
  font-size: 20px;
  font-weight: 550;
  text-align: right;
}
.press-rating {
   font-size: 20px;
   font-weight: 550;
   color: rgb(0, 94, 0);
   padding-right: 10px;
   font-size: 20px;
  
}
.like {
  color: rgb(0, 154, 0);
  cursor: pointer;
  margin-right: 15px;
}
.dislike {
  color: rgb(1, 103, 1);
  cursor: pointer;
}

.container {
  position: relative;
 max-width: 1200px;
  display: inline-block;
  margin: 5px;

}


.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 10px;
  padding: 25px;
  margin-top: -50px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 0 3px 3px 0;

}

.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  display: contents;
}

.mySlides img {
max-width: 100%;
max-height: 100%;
}
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}
.column img {
height: 80px;
}
.active,
.demo:hover {
  opacity: 1;
}

.com {
  display: block;
  padding: 10px;
  font-size: 15px;
  text-align: left;
}

.tm-allcomments {
  font-size: 25px;
  line-height: 3;
}
.count {
  border-radius: 5px;
  margin: 13px;
  padding: 1px 5px;
  background-color: rgba(2, 152, 2, 0.79);
}
.m-button {
  border-radius: 5px;
  border: 2px solid red;
  padding: 8px;
  background-color: rgba(4, 176, 4, 0.358)
   }
.tm-block.open {
  display: block;
padding-bottom: 10px;
}
#dle-comments-list {
  width: 100%;
display: block;
overflow: hidden;
padding-bottom:15px;
}
.comment-box {
  width: 100%;
  position: relative;
  padding: 15px 0 10px;
  display: inline-block;
   margin-top: 5px;
}
.avatar-block {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  }
.pro-comment {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .green-border {
    width: 80px;
    height: 80px;
  }
.comment {
top: 0%;
width: calc(100% - 220px);
float: right;
margin-right: 5px;
position: relative;
vertical-align: top;
}
.comment-header {
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  text-transform: initial;
  margin-bottom: 8px;
}
.comment-name {
  float: left;
  margin: 0 10px;
  font-size: 25px;
  font-weight: 700;
}
.comment-date {
  float: right;
  width: 220px;
  color: rgb(0, 202, 0);
  font-size: 15px;
  font-weight: 400;
  text-align: right;
}
.comment-rating {
  float: right;
  min-width: 50px;
  font-size: 20px;
  font-weight: 550;
  margin-right: 15px;
  position: relative;
}
.like {
  color: rgb(0, 154, 0);
  cursor: pointer;
  margin-right: 15px;
}
.dislike {
  color: rgb(1, 103, 1);
  cursor: pointer;
}
.comment-text {
  border: 2px solid rgba(1, 186, 1, 0.585);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  resize: vertical;
  position: relative;
  text-transform: none;

}
  .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.block-footer {
  width: auto;
  background: #228b2298;
  margin-top: 15px;
  padding: 20px;
  clear: both;
  }